<html>
<head>
	<title>new</title>
</head>
<body>
	<p>Hi <%= name%></p>
</body>
<script type="text/javascript" src="./script/jquery-2.1.3.js"></script>
<script type="text/javascript" src="./script/rocke.js"></script>
</html>